main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gapLine{
  display: inline-block;
  background-color: black;
}

#board{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1%;
}

#board > .cell {
  background-color: white;
  min-width: max(5vh, 5vw);
  min-height: max(5vh, 5vw);
  max-width: min(25vh, 25vw);
  max-height: min(25vh, 25vw);
}
